<h1>{{name}} Class <small> <span class="badge">Version {{since}}</span></small></h1>
{{#if foundAt}}
<small>
    Defined in: <a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>
  </small>
{{/if}}

<hr class="strike">

<ol class="breadcrumb">
  <li><a href="./">Introduction</a>
  </li>
  {{#if module}} {{#if submodule}}
  <li>{{#crossLinkModule submodule}}{{/crossLinkModule}}</li>
  <li>{{#crossLinkModule module}}{{/crossLinkModule}}</li>
  {{else}}
  <li>{{#crossLinkModule module}}{{/crossLinkModule}}</li>
  {{/if}} {{/if}}
  <li class="active">{{name}}</li>
</ol>

<div class="description">{{{classDescription}}}</p>

<div class="section code-section">
  <h4>Table of Contents</h4>
  <table class="table table-bordered">
    {{#is_constructor}}
      <thead>
        <tr> <th colspan="2">Constructor</th> </tr>
      </thead>
      <tbody>
        <tr> <td> <a href="#constructor"> <code>{{name}}()</code> </a> </td> <td> Instantiate a {{name}} class constructor. </td> </tr>
      </tbody>
    {{/is_constructor}}
  
    {{#if methods}}
      <thead>
        <tr> <th colspan="2">Methods</th> </tr>
      </thead>
      <tbody>
        {{#methods}}
          {{#if eventhandler}}
        
          {{else}}
            <tr> <td> <a href="#method_{{name}}"> <code>{{name}}()</code> </a> </td> <td> {{{methodDescription}}} </td> </tr>
          {{/if}}
        {{/methods}}
      </tbody>
    {{/if}}
    
    {{#if properties}}
      <thead>
        <tr> <th colspan="2">Methods</th> </tr>
      </thead>
      <tbody>
        {{#properties}}
          <tr> <td> <a href="#property_{{name}}"> <code>{{name}}</code> </a> </td> <td> {{{propertyDescription}}} </td> </tr>
        {{/properties}}
      </tbody>
    {{/if}}
    
    {{#if attrs}}
      <thead>
        <tr> <th colspan="2">Attributes</th> </tr>
      </thead>
      <tbody>
        {{#attrs}}
          <tr> <td> <a href="#attr_{{name}}"> <code>{{name}}</code> </a> </td> <td> {{{attrDescription}}} </td> </tr>
        {{/attrs}}
      </tbody>
    {{/if}}
    
    {{#if events}}
      <thead>
        <tr> <th colspan="2">Events</th> </tr>
      </thead>
      <tbody>
        {{#events}}
          <tr> <td> <a href="#event_{{name}}"> <code>{{name}}</code> </a> </td> <td> {{{eventDescription}}} </td> </tr>
        {{/events}}
      </tbody>
    {{/if}}
    
    {{#if methods}}
      <thead>
        <tr> <th colspan="2">Event Handlers</th> </tr>
      </thead>
      <tbody>
        {{#methods}}
          {{#if eventhandler}}
            <tr> <td> <a href="#method_{{name}}"> <code>{{name}}</code> </a> </td> <td> {{{methodDescription}}} </td> </tr>
          {{/if}}
        {{/methods}}
      </tbody>
    {{/if}}
  </table>
</div>

{{#is_constructor}}
<div class="section code-section">
  <h4>Constructor</h4>
  {{>constructor}}
</div>
{{/is_constructor}} 

{{#if methods}}
<div class="section code-section">
  <h4>Methods</h4>
  {{#methods}} 
    {{#if eventhandler}}
      <em></em>
    {{else}}
      {{>method}}
    {{/if}}
  {{/methods}}
</div>
{{/if}}

{{#if attrs}}
<div class="section code-section">
  <h4>Attributes</h4>
  {{#attrs}} {{>attrs}} {{/attrs}}
</div>
{{/if}}

{{#if properties}}
<div class="section code-section">
  <h4>Properties</h4>
  {{#properties}} {{>props}} {{/properties}}
</div>
{{/if}}

{{#if methods}}
<div class="section code-section">
  <h4>Event Handlers</h4>
  {{#methods}} 
    {{#if eventhandler}}
      {{>handler}}
    {{else}}
      <em></em>
    {{/if}}
  {{/methods}}
</div>
{{/if}}

{{#if events}}
<div class="section code-section">
  <h4>Events</h4>
  {{#events}} {{>events}} {{/events}}
</div>
{{/if}}

  <!--
{{#if uses}}
    <ul class="inline commas">
      {{#uses}}
        <li><a href="{{.}}.html">{{.}}</a></li>
      {{/uses}}
    </ul>
{{/if}}

{{#if extends}}
    <div class="extends">
        Extends {{#crossLink extends}}{{/crossLink}}
    </div>
{{/if}}

{{#if module}}
    {{#if submodule}}
        Module: {{#crossLinkModule submodule}}{{/crossLinkModule}}<br>
        Parent Module: {{#crossLinkModule module}}{{/crossLinkModule}}
    {{else}}
        Module: {{#crossLinkModule module}}{{/crossLinkModule}}
    {{/if}}
{{/if}}

{{#if deprecated}}
<div class="box deprecated">
        <p>
        {{#if deprecationMessage}}
            <strong>Deprecated:</strong> {{deprecationMessage}}
        {{else}}
            This class is deprecated.
        {{/if}}
        </p>
    </div>
{{/if}}
-->