<div id="handler_{{name}}" class="panel panel-code">
  <div class="panel-heading">
    <h5>
      {{name}}
      {{#if params}}
        <span class="paren">(</span>
          <em class="items">
            {{#params}}
              {{#if optional}}
                <item><code class="optional">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code></item>
              {{else}}
                <item><code>{{name}}</code></item>
              {{/if}}
              <item class="seperator">,&nbsp;&nbsp;</item>
            {{/params}}
          </em>
        <span class="paren">)</span>
      {{else}}
        <span class="paren">()</span>
      {{/if}}

      {{#if since}}
        <span class="badge">Version {{since}}</span>
      {{/if}}
    </h5>
    {{#if overwritten_from}}
      <p>
        Inherited from
        <a href="{{crossLinkRaw overwritten_from/class}}#method_{{overwritten_from/name}}">{{overwritten_from/class}}</a>
        {{#if foundAt}}
          but overwritten in
        {{/if}}
      </p>
    {{else}}
      {{#if extended_from}}
        <p>
          Inherited from:
          <a href="{{crossLinkRaw extended_from}}#method_{{name}}">{{extended_from}}</a>
        </p>
      {{else}}
        {{#providedBy}}
          <p>Provided by the <a href="../modules/{{.}}.html">{{.}}</a> module.</p>
        {{/providedBy}}
      {{/if}}
    {{/if}}
    {{#if providedBy}}
      {{#providedBy}}
        <p>Provided by the <a href="../modules/{{.}}.html">{{.}}</a> module.</p>
      {{/providedBy}}
    {{/if}}

    {{#if foundAt}}
      <p>
        Defined in: <a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>
      </p>
    {{/if}}
  </div>

  <div class="panel-body">
    <blockquote>
      {{#if deprecated}}
        <p> 
          <em class="glyphicon glyphicon-alert" aria-hidden="true"></em> This event handler is deprecated. Please refrain from using this as this would be unsupported in future releases.
          {{#if deprecationMessage}}
            <br><br><small>{{deprecationMessage}}</small>
          {{/if}}
        </p>
      {{/if}}

      {{#if support}}
        <p>
          <em class="glyphicon glyphicon-check" aria-hidden="true"></em> {{{support}}}
        </p>
      {{else}}
        <p>
          <em class="glyphicon glyphicon-check" aria-hidden="true"></em> Supported browsers
          <div class="table-responsive">
            <table class="table table-condensed table-browsers">
              <thead>
                <tr> 
                  <th> <img src="../assets/img/icons/chrome.png"> Chrome </th>
                  <th> <img src="../assets/img/icons/firefox.png"> Firefox </th>
                  <th> <img src="../assets/img/icons/opera.png"> Opera </th>
                  <th> <img src="../assets/img/icons/safari.png"> Safari (plugin) </th>
                  <th> <img src="../assets/img/icons/ie.png"> IE (plugin) </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> 35+ </td>
                  <td> 30+ </td>
                  <td> 21+ </td>
                  <td> 7+ </td>
                  <td> 11+ </td>
                </tr>
              </tbody>
            </table>
        </div>
        </p>
      {{/if}}

      {{#if overwritten_from}}
        <p> 
          <em class="glyphicon glyphicon-edit" aria-hidden="true"></em> This event handler overwrites inherited class method.
        </p>
      {{/if}}
    </blockquote>
    <p>{{{methodDescription}}}</p>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
      {{#if params}}
        <div class="code-section-item">
          <h6>Received Arguments:</h6>
          <ul class="params-list">
          {{#params}}
            {{>param}}
          {{/params}}
          </ul>
        </div>
      {{/if}}

    <!--<div class="code-section-item">
      <h6>Returns:</h6>
      <ul>
        {{#if return}}
          {{#return}}
            <li class="code-section-item-param">
              <div class="name">
                <code class="param-name">result</code>
                {{#if type}}
                  <span class="type"> : <em>type</em> {{#crossLink type}}{{/crossLink}} </span>
                {{/if}}
              </div>
              {{#if description}}
                <div class="description">
                  {{{description}}}
                </div>
              {{/if}}
            </li>
          {{/return}}
        {{else}}
          <li class="code-section-item-param">
            <div class="name">
              <code class="param-name">result</code>
              <span class="type"> : <em>type</em> Null</span>
            </div>
          </li>
        {{/if}}
      </ul>
    </div>-->
  </div>


  <div class="col-md-6">
    <pre class="prettyprint">
      // Example for constructor {{name}} ()
      {{#example}}
        {{{.}}}
      {{/example}}
    </pre>
  </div>
</div>
</div>