<!-- Sidebar -->
<a href="#menu-toggle" id="menu-toggle">
  <!-- Menu icon by Icons8 -->
  <img src="{{projectAssets}}/img/icons/menu.png">
  <!-- <a href="http://icons8.com">Icon pack by Icons8</a> -->
  </span>
</a>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="{{projectRoot}}" data="{{url}}">
        <img src="{{projectAssets}}/img/logo.svg"><span>JS</span>
        <small>Version: {{projectVersion}}</small>
      </a>
    </li>
    <hr>
    <li><a href="{{projectRoot}}" data="{{url}}">Introduction</a></li>
    {{#classes}}
      <li><a href="{{../projectRoot}}classes/{{name}}.html"> {{displayName}} </a></li>
    {{/classes}}
  </ul>
</div>
<!-- /#sidebar-wrapper -->

<!--<form id="api-tabview" class="navbar-form navbar-right" role="form">
  <div id="api-tabview-filter" class="form-group">
    <input type="search" id="api-filter" placeholder="Type to filter APIs">
  </div>
</form>-->